*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  line-height: 1.4;
  background-color: var(--base-bleached-silk);
  font-family: var(--tasa-orbiter);
  padding-bottom: var(--page-nav-height);
}

ol,
ul {
  list-style-type: "";
}

.dropdown {
  position: relative;

  > button {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;

    &.open {
      display: flex;
    }
  }
}

.bottom-page-nav {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: var(--page-nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--base-bleached-silk);
  padding: .75rem;

  a {
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;

    &.active {
      background-color: var(--base-night-rider);
      border-radius: .5rem;

      svg * {
        fill: white;
      }
    }
  }
}

.page-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--base-bleached-silk);
  padding-inline: .5rem;

  h1 {
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 10%;
  }

  .hamburger-menu {
    justify-self: end;

    .menu-btn {
      background: none;
      border: none;
    }
  }
}

section {
  padding-inline: var(--page-padding);
}

.separator {
  border: 1px inset;
  color: gray;
  margin-inline: 3rem;
  margin-bottom: 1.5rem;
}

.dashboard-nav-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    color: var(--d700-bleached-silk);

    span {
      text-transform: capitalize;
    }
  }

  nav {
    display: grid;
    grid-template: 1fr auto / 1fr 1fr;
    gap: 1.5rem;

    a {
      display: grid;
      place-items: center;
      padding: 1.2rem;
      border-radius: .5rem;
      color: var(--d700-bleached-silk);
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      box-shadow: 0 5px 0 rgba(20, 19, 19, .25);
      transition: box-shadow .2s ease-out, transform .2s ease-out;

      &:active {
        transform: translateY(5px);
        box-shadow: 0 0 0 rgba(20, 19, 19, .25);
      }
    }

    :first-child {
      background-color: var(--l600-lustful-wishes);
    }

    :nth-child(2) {
      background-color: var(--l600-cockatoo);
    }

    :last-child {
      background-color: var(--l600-xavier-blue);
      grid-column: span 2;
    }
  }
}

select {
  appearance: base-select;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  font-family: inherit;
  color: var(--d700-bleached-silk);
  border: none;
  border-radius: 10px;
  background: #e6e6e6;
  cursor: pointer;

  &::picker(select) {
    appearance: base-select;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    position-try-fallbacks: none;
    max-block-size: none;
  }

  &:open {
    background: var(--base-eclipse);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--base-bleached-silk);
    font-weight: 600;
    
    &::picker-icon {
      rotate: .5turn;
    }
  }

  option {
    padding: .5rem .25rem;
    background: var(--base-night-rider);
    color: var(--base-bleached-silk);
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background: var(--base-bleached-silk);
      color: black;
    }
    
    &::checkmark {
      content: "";
    }
  }
}

.dashboard-section {
  display: grid;
  gap: .5rem;

  .swipe-wrapper {
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding-block: 1.5rem;

    svg * {
      fill: var(--l500-night-rider);
    }
    p {
      color: var(--l500-night-rider);
    }
  }

  h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--d700-bleached-silk);
  }

  p {
    color: var(--base-night-rider);
  }

  .filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button:has(svg) {
      background: none;
      border: none;
      border-radius: .5rem;
      display: grid;
      place-items: center;

      &:hover {
        background: var(--d200-night-rider);

        svg * {
          fill: white;
        } 
      }
    }
  }

  .recommendations-slider {
    --tag-height: 2rem;
    --card-radius: 20px;

    overflow-x: auto;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    padding-top: var(--tag-height);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    article.card {
      flex-shrink: 0;
      width: 100%;
      background: white;
      border: 2px solid var(--l300-bleached-silk);
      border-radius: var(--card-radius);
      padding: 2rem 1rem;
      min-height: 300px;
      position: relative;

      &.layout-1 {
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 1rem;

        p {
          font-weight: 600;
          font-size: 1.4rem;
          color: var(--base-night-rider);
          align-self: center;
        }
      }

      .tags {
        position: absolute;
        bottom: 100%;
        left: var(--card-radius);
        display: flex;
        gap: .5rem;
        z-index: 999;

        > * {
          height: var(--tag-height);
          padding-inline: .5rem;
          background: red;
          display: grid;
          place-items: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          font-size: 14px;

          &.style-1 {
            background: var(--base-cockatoo);
          }

          &.style-2 {
            background: var(--l500-cockatoo);
          }
        }
      }

      header {
        display: grid;
        grid-template-columns: 1fr auto auto;

        button:has(svg) {
          background: none;
          border: none;
        }
      }

      .topics {
        display: flex;
        gap: .5rem;

        span {
          padding: .5rem;
          color: var(--l100-eclipse);
          border: 1px solid var(--l200-eclipse);
          border-radius: 99rem;
          font-family: inherit;
          font-size: inherit;
          background: none;
        }
      }
    }
  }
}